// 浅色
$light-bgc-1: #fefefe;
$light-bgc-2: #f5f6f7;

$light-font-1: #333;
$light-font-2: #606265;

$light-border-1: #F2F6FB;

// 深色
// $dark-bgc-1: #252b3a;
$dark-bgc-1: #222430;

// $dark-bgc-2: #2b3245;
$dark-bgc-2: #1A1C27;

$dark-font-1: #fefefe;
$dark-font-2: #d0d0d1;

$dark-border-1: #2D3449;