// 折叠侧边栏宽度
$tabSplitMenuWidth: 65px;
// 侧边菜单栏宽度
$menuWidth: 220px;
// 折叠侧边栏宽度
$minMenuWidth: 70px;
// logo高度
$logoHeight: 50px;
// footer高度
$footerHeight: 45px;
// header高度
$headerHeight: 60px;
$transitionTime: 0.3s ease;

// 输入框、按钮圆角
// $radius-xs: 4px;
// $radius-sm: 6px;
// $radius-df: 10px;
// $radius-lg: 15px;
